<?xml version="1.0"?>
<config>
    <modules>
        <Foundation_Ajax>
            <version>0.0.2</version>
        </Foundation_Ajax>
    </modules>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Foundation_Ajax</module>
                    <frontName>ajax</frontName>
                </args>
            </ajax>
        </routers>
    </frontend>
</config>