.no-display {
  display:none;
}
//Lists
ul {
  list-style-type: none;
}

ul.links li {
  display: inline;
}

ul, ol, dd {
  margin: 0;
}

ol.decimal, ol.decimal > li ol {
  list-style-type: decimal;
  list-style-position: inside;
}
//Selects
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
//Links
a {
  text-decoration: none;
}
//Inputs
.input-group > :last-child {
  border-radius: 0 $global-radius $global-radius 0;
}
// Vertical Align
.valign-middle {
  display: table;
  > .columns {
    display: table-cell;
    vertical-align: middle;
  }
  > .columns,
  > [class*="column"] + [class*="column"]:last-child {
    float: none;
  }
}

//row fullwidth
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.no-bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.accordion-navigation {
  > a[aria-expanded="true"]:after {
    color: $primary-color;
    font-family: FontAwesome;
    content: "\f0ab";
    padding-left: 5px;
    float: right;
    font-size: 1rem;
  }
  > a[aria-expanded="false"]:after {
    color: $primary-color;
    font-family: FontAwesome;
    content: "\f0aa";
    padding-left: 5px;
    float: right;
    font-size: 1rem;
  }
}
//BorderRadius
.input-group > :not(:first-child):not(:last-child) {
  border-radius: 0;
}

a[href^="mailto:"]:before {
  font-family: FontAwesome;
  content: "\f0e0";
  margin-right: 0.5em;
}

.std  {
  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
  }
  ul:not([class]) {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1rem;
    color: $primary-color;
  }
  ol {
    margin-left: 0;
    margin-bottom: 1rem;
    counter-reset: item;
    li {
      display: block;
    }
    li:before {
      content: counter(item) ". ";
      counter-increment: item;
      color: $primary-color;
    }
  }
  table {
     @include breakpoint(small medium) {
       @include table-stack;
     }
   }
}

.owl-carousel {
  z-index: 0 !important;
}

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

.col-main {
  margin-bottom: $global-margin;
}