#reveal-wait {
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(255, 255, 255, 0.5) !important;
  position: fixed !important;
  top: 0;
  left: 0;
  line-height: 100%;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .centered {
    display: inline-block;
    vertical-align: middle;
    i {
      color: $primary-color;
    }
  }
}