@media screen and #{breakpoint(small only)} {
  .product-attachments,
  #shopping-cart-table,
  #wishlist-table,
  #my-tags-table,
  #checkout-review-table,
  #my-orders-table,
  #my-reviews-table {
    thead {
      display: none;
    }
    tbody {
      tr {
        position: relative;
      }
      td {
        display: inline-block;
        text-align: left;
      }
      dl {
        dt {
          display: inline-block;
          padding: 0 0 0 1em;
        }
        dd {
          display: inline-block;
          padding: 0 1em 0 0;
        }
      }
    }
  }
  #my-orders-table,
  #my-downloadable-products-table,
  #my-reviews-table,
  #product_comparison {
    overflow-x: auto;
    display: block;
  }

}

@media screen and #{breakpoint(medium only)}  {
  #my-orders-table,
  #my-downloadable-products-table,
  #my-reviews-table,
  .cart-table-wrapper,
  .wishlist-table-wrapper,
  #product_comparison {
    overflow-x: auto;
    display: block;
  }
}

@media screen and #{breakpoint(medium)} {
  #product-review-table {
    width: 100%;
    th {
      font-weight: 200;
      padding: 0.3rem;
    }
  }
}

#my-tags-table {
  width: 100%;
  img {
    max-width: inherit;
  }
}

.wishlist-table-wrapper {
  fieldset {
    padding: 0;
  }
}