<?xml version="1.0"?>
<config>
    <tabs>
        <layouttab translate="label">
            <label>Foundation</label>
            <sort_order>100</sort_order>
        </layouttab>
    </tabs>
    <sections>
        <foundation_sitemap>
            <class>separator-top</class>
            <label>Sitemap</label>
            <tab>layouttab</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable extension</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <limit translate="label">
                            <label>Item limit per page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[<span class="notice">50000 if empty</span>]]>
                            </comment>
                        </limit>
                    </fields>
                </general>
            </groups>
        </foundation_sitemap>
    </sections>
</config>